[submodule "FlavorFusion/Recipe-project-with-themealdb-API"]
	path = FlavorFusion/Recipe-project-with-themealdb-API
	url = C:\\Users\\Madhumitha\\Desktop\\PROJECTS\\FlavorFusion\\Recipe-project-with-themealdb-API
